/* Custom Storybook preview styles and fonts */

/* Fonts */
/* ABC Diatype  */

@font-face {
  font-family: 'ABC Diatype';
  font-style: normal;
  font-weight: normal;
  src: 
    url(https://www.etsy.com/assets/type/ABCDiatype-Regular.woff2) format('woff2'),
    url(https://www.etsy.com/assets/type/ABCDiatype-Regular.woff) format('woff');
}
@font-face {
  font-family: 'ABC Diatype';
  font-style: normal;
  font-weight: 500;
  src: 
    url(https://www.etsy.com/assets/type/ABCDiatype-Medium.woff2) format('woff2'),
    url(https://www.etsy.com/assets/type/ABCDiatype-Medium.woff) format('woff');
}
@font-face {
  font-family: 'ABC Diatype';
  font-style: normal;
  font-weight: 700;
  src: 
    url(https://www.etsy.com/assets/type/ABCDiatype-Bold.woff2) format('woff2'),
    url(https://www.etsy.com/assets/type/ABCDiatype-Bold.woff) format('woff');
}

/* ABC Otto  */

@font-face {
  font-family: 'ABC Otto';
  font-style: normal;
  font-weight: 400;
  src: 
    url(https://www.etsy.com/assets/type/ABCOtto-Regular.woff2) format('woff2'),
    url(https://www.etsy.com/assets/type/ABCOtto-Regular.woff) format('woff');
}

/* Apply font to Storybook preview body */
body {
  font-family: "ABC Diatype";
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #1C181F;
  color: #e0e0e0;
}

body.dark-mode {
  background-color: #1C181F;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: #ffffff;
}

.dark-mode p,
.dark-mode span,
.dark-mode div {
  color: #e0e0e0;
}

.dark-mode a {
  color: #4a9eff;
}

.dark-mode button {
  background-color: #333333;
  color: #ffffff;
  border-color: #555555;
}

.dark-mode button:hover {
  background-color: #444444;
}
